<mat-card>
    <h1 class="mat-elevation-z1"><mat-icon>phone</mat-icon> Contacts</h1>
    <mat-card-title-group>
        <mat-card-title class="mat-elevation-z2">
          <h1>You can contact me in:</h1>
          <h2><mat-icon>facebook</mat-icon> Jovelyn G. Umpacan</h2>
          <h2><mat-icon>gmail</mat-icon><br> jovelyn.umpacan@evsu.edu.ph <br>umpacanjovelyn782@gmail.com </h2>
          <h2><mat-icon>phone</mat-icon> 09079325427 </h2>
        </mat-card-title>
      </mat-card-title-group>

</mat-card>


