<mat-card>
  <h1 class="mat-elevation-z1"><mat-icon>images</mat-icon> Gallery</h1>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="50%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Jovelyn</mat-card-title>
          <mat-card-subtitle>Jov</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/img1.jpg">
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>COMMENT</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div fxFlex="50%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Jovelyn</mat-card-title>
          <mat-card-subtitle>Jov</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/img2.jpg">
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>COMMENT</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div fxFlex="50%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Jovelyn</mat-card-title>
          <mat-card-subtitle>jov</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/img3.jpg">
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>COMMENT</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div fxFlex="50%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Jovelyn</mat-card-title>
          <mat-card-subtitle>jov</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/img4.jpg">
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>COMMENT</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div fxFlex="50%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Jovelyn</mat-card-title>
          <mat-card-subtitle>jov</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/img5.jpg">
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>COMMENT</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div fxFlex="50%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Jovelyn</mat-card-title>
          <mat-card-subtitle>jov</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/img6.jpg">
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>COMMENT</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>