.example-card {
  max-width: 100%;
}
.mat-card {
  background-color: rgb(10, 10, 10);
  color: rgb(77, 73, 73);
  max-height: max-content;
}
.example-header-image {
  background-image: url(../../assets/me.jpg);
  background-size: cover;
  margin-left: 50px;
}
.mat-card-title {
  text-align: center;
  padding: 45px;
  background-color: rgb(0, 0, 0);
  height: 295px;
  font: 1.2em sans-serif;
}
span {
  color: brown;
}
img {
  width: 70%;
  height: 400px;
  border-radius: 15px;
  margin-left: 50px;
}
.mat-card-content {
  background-color: rgb(253, 110, 110);
  height: 100px;
}
p {
  text-align: center;
  color: rgb(0, 0, 0);
  font: 1.2em sans-serif;
  font-weight: solid;
  font-style: italic;
  padding: 20px;
}
h1 {
  padding-top: 10px;
  font: 1.4em sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(245, 101, 101);
  text-align: center;
  
}
h2 {
  font-weight: light;
  font-size: 20px;
  padding-top: 60px;
  color: rgb(253, 133, 133);
}