<mat-card class="example-card">
  <h1 class="mat-elevation-z1"><mat-icon>person</mat-icon> My Profile</h1>
  <mat-card-title-group>
    <mat-card-title class="mat-elevation-z2">
      <h2>Hello, my Name is</h2>
      <h1>Ma. Kathlyn <span>Bugais</span></h1>
      <h2>Bachelor of Sciece in<br>Information Technology</h2>
    </mat-card-title>
    <img class="mat-elevation-z4" mat-card-xl-image src="../../ad1.jpg">
  </mat-card-title-group>
  <mat-card-content class="mat-elevation-z2">
    <p>Hi. I am Ma. Kathlyn bugais. I'm 20 years old, currently residing in Pob. Dist. 1 Barugo, Leyte. My Motto is; Do your best. No matter what is the result, either its good or bad, as long as you did your best, it is not your fault anymore so don’t blame yourself. Your time will come. My mother is Judith L. Albarico. She isn't married to my father. Currently, I am a 3rd year college student in Eastern Visayas State University Carigara Campus. My hobbies are Eating, Sleeping, Dancing, Reading and Watching Drama or Kpop. </p>
  </mat-card-content>
</mat-card>