<mat-card class="example-card">
  <h1 class="mat-elevation-z1"><mat-icon>person</mat-icon> My Profile</h1>
  <mat-card-title-group>
    <mat-card-title class="mat-elevation-z2">
      <h2>Hello, my Name is</h2>
      <h1>Jovelyn<span>Umpacan</span></h1>
      <h2>Bachelor of Sciece in<br>Information Technology</h2>
    </mat-card-title>
    <img class="mat-elevation-z4" mat-card-xl-image src="../../assets/bcg.jpg">
  </mat-card-title-group>
  <mat-card-content class="mat-elevation-z2">
    <p>Hi. I am Jovelyn Umpacan. I'm 21 years old, currently living in Block 12 Lot 24 Ecoville 1 Brgy. Sagkahan Carigara, Leyte. </p>
  </mat-card-content>
</mat-card>